/.env
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/manga/*
/storage/app/users/*
!storage/app/.gitkeep
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
database/database.sqlite
database/*.sqlite
.DS_Store
Thumbs.db
